node_modules
.git
.gitignore
*.md
!README.md
test
.cursor
.vscode
*.log
npm-debug.log
.DS_Store
Thumbs.db

# Generated runtime data (re-created by services at runtime)
public/data/weather/current/current-*.json